myhave() { command -v "$1" >& /dev/null; }

# ----- env vars -----
export DBX='/home/jon/Dropbox/'
export GIT_EDITOR='vim'

#  -----safety -----
alias rm='rm -i'
alias mkdir='mkdir -p'
alias mv='mv -i'
alias ln='ln -i'

# ----- shortcuts -----
alias c='clear'
alias h='history | tail -500'
alias ..='cd ..'
alias ...='cd ../..'

alias xclips='xclip -selection clipboard'
alias pasteit="curl -F 'sprunge=<-' http://sprunge.us"
alias pasteitc="curl -F 'sprunge=<-' http://sprunge.us | xclip -selection clipboard"

# for learning
alias readlineh="man readline | egrep '\(.-'"

# trackpad broken on laptop, hack to open wicd-client interface 
alias wicdr='killall wicd-client; wicd-client &'
 
# ----- cmd correction -----
alias kilall='killall' 

# -----  ls ----- 
alias l='ls --color=auto -hF'
alias ls='ls --color=auto -hF'
alias ll='ls --color=auto -ltr --group-directories-first'
alias la='ls --color=auto -Al --group-directories-first'
alias lt='ls --color=auto -lahtr'
 
# -----  git ----- 
alias gits='git status'
alias gitl='git log'
alias gitd='git diff'
alias gitdc='git diff --cached'
alias gitb='git branch'
alias gitbr='git branch'
alias gitst='git stash'
alias gitstp='git stash pop'
alias gitstl='git stash list'
alias gitsts='git stash show'
alias gitc='git checkout'
alias gitcb='git checkout -b'
alias gita='git add'
alias gitcm='git commit'
alias gitp='git push'
 
# -----  arch ----- 
alias pacnew='find /etc -regextype posix-extended -regex ".+\.pac(new|save|orig)" 2> /dev/null'
alias compup='sudo pacman -Syu'
alias cowerup='cd /home/jon/cowerbuild && cower -uddv | grep -v "Checking"'
alias gnome-open='xdg-open'

# ----- dropbox -----
export dpub=/home/jon/Dropbox/Public
alias cddbx='cd $DBX'
alias dropboxr='killall dropbox; dropboxd &'
 
# ----- other -----
if myhave colordiff; then alias diff=colordiff; fi
alias swriter='libreoffice --writer'
alias alsamixerequal='alsamixer -D equal'
alias scrot5='scrot -d 5'

alias umount='udiskie-umount'
